*{margin: 0; padding: 0;}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

body{
    background-color:#000000;
    padding:30px;
}

h1.page-title{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    color:#FFFFFF;
    font-size: 125px;
    
}

h4.page-author{
    color:#FFFFFF;
	font-family: 'Inter', sans-serif;
    opacity: .5;
    font-size:20px;
    margin-top: 3px;
}

h4.page-book{
    color:#FFFFFF;
	font-family: 'Inter', sans-serif;
    opacity: .5;
    font-size:20px;
    margin-top: 30px;
}

h4.page-instruct{
    color:#FFFFFF;
	font-family: 'Inter', sans-serif;
    opacity: .5;
}


.title-wrapper{
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.title-wrapper{
    height:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}


